In [36]:
import pandas as pd
pd.set_option('max_colwidth', None)

In [3]:
df = pd.read_csv('/home/mendu/Thesis/data/magnatagatune/tag_annotations.csv', sep = '\t',index_col=[0])

In [8]:
df =df[['mp3_path']]

In [38]:
df

                                                                              mp3_path
clip_id
2          f/american_bach_soloists-j_s__bach_solo_cantatas-01-bwv54__i_aria-30-59.mp3
6        f/american_bach_soloists-j_s__bach_solo_cantatas-01-bwv54__i_aria-146-175.mp3
10       f/american_bach_soloists-j_s__bach_solo_cantatas-01-bwv54__i_aria-262-291.mp3
11       f/american_bach_soloists-j_s__bach_solo_cantatas-01-bwv54__i_aria-291-320.mp3
12       f/american_bach_soloists-j_s__bach_solo_cantatas-01-bwv54__i_aria-320-349.mp3
...                                                                                ...
58899                  8/jacob_heringman-blame_not_my_lute-56-la_bressanina-88-117.mp3
58906               8/jacob_heringman-blame_not_my_lute-57-lost_is_my_lyberty-0-29.mp3
58907              8/jacob_heringman-blame_not_my_lute-57-lost_is_my_lyberty-30-59.mp3
58908              8/jacob_heringman-blame_not_my_lute-57-lost_is_my_lyberty-59-88.mp3
58915          8/jacob_heringman-blame_not_my_lute-58-a_toy_for_monica_bishop-0-29.mp3

[25863 rows x 1 columns]

In [39]:
df['mp3_path'][6]

'f/american_bach_soloists-j_s__bach_solo_cantatas-01-bwv54__i_aria-146-175.mp3'

In [13]:
df_tags = df.drop('mp3_path', axis='columns')

In [18]:
df_tags.sum(axis = 0).sort_values(ascending=False)[:10]

guitar        4852
classical     4272
slow          3547
techno        2954
strings       2729
drums         2598
electronic    2519
rock          2371
fast          2306
piano         2056
dtype: int64

In [5]:
err_128 = pd.read_csv('/home/mendu/Thesis/data/saved_models/grid_search_alpha_128/error_analysis_df.csv', index_col = [0])

In [6]:
err_128

,Index,Correct Label,Wrong Label_0,Wrong Label_25,Wrong Label_5,Wrong Label_75,Highest Wrong Label
0,2,country,classical,classical,classical,classical,4
2,9,new age,electronic,electronic,electronic,electronic,4
5,15,new age,electronic,electronic,electronic,electronic,4
6,17,pop,rock,rock,indian,rock,3
7,21,opera,classical,classical,classical,classical,4
...,...,...,...,...,...,...,...
308,1134,indian,classical,classical,classical,classical,4
311,1142,rock,electronic,electronic,indian,electronic,3
313,1145,indian,electronic,country,rock,rock,2
317,1173,indian,electronic,electronic,electronic,electronic,4
318,1176,rock,electronic,electronic,electronic,electronic,4

In [17]:
err_128[err_128['Highest Wrong Label'] == 4].head(10)

,Index,Correct Label,Wrong Label_0,Wrong Label_25,Wrong Label_5,Wrong Label_75,Highest Wrong Label
0,2,country,classical,classical,classical,classical,4
2,9,new age,electronic,electronic,electronic,electronic,4
5,15,new age,electronic,electronic,electronic,electronic,4
7,21,opera,classical,classical,classical,classical,4
8,24,pop,rock,rock,rock,rock,4
14,47,classical,electronic,electronic,electronic,electronic,4
16,52,rock,electronic,electronic,electronic,electronic,4
24,90,pop,rock,rock,rock,rock,4
29,112,pop,electronic,electronic,electronic,electronic,4
32,127,pop,rock,rock,rock,rock,4

In [37]:
df.loc[[2]]

                                                                            mp3_path
clip_id
2        f/american_bach_soloists-j_s__bach_solo_cantatas-01-bwv54__i_aria-30-59.mp3

In [21]:
path

clip_id
2    f/american_bach_soloists-j_s__bach_solo_cantat...
Name: mp3_path, dtype: object